body{
	background-color: hsl(30, 38%, 92%);
}

#wrapper{
	box-sizing: border-box;
	margin-left:auto;
	margin-right:auto;
	margin-top: 100px;
	margin-bottom: 100px;
	width:720px;
	height:720px;
}

#img1, img{
	box-sizing: border-box;
	width: 50%;
	height: 100%;
	object-fit: cover;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	float:left;
}

#box-right{
	background-color: hsl(0, 0%, 100%);
	box-sizing: border-box;
	width: 50%;
	height: 540px;
	padding: 40px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	float:right;
}

p{
	font-family: montserrat;
	font-weight:500;
	margin:0;
}

.heading{
	text-transform:uppercase;
	letter-spacing:.3rem;
	font-size: 15px;
	color: hsl(228, 12%, 48%);
}

h1,h2{
	font-family:Fraunces;
	font-size:40px;
}

h1{
	margin-top:18px;
}

h2{
	color:hsl(158, 36%, 37%);
	margin-top:25px;
	margin-bottom:15px;
	float:left;

}

h3{
	font-size:16px;
	font-family: montserrat;
	display:inline-block;
	margin-top:41px;
	margin-right:40px;
	text-decoration: line-through;
	color: hsl(228, 12%, 48%);
	float:right;
}
.paragraph{
	line-height:25px;
	color: hsl(228, 12%, 48%);
}

button{
	background-color: hsl(158, 36%, 37%);
	width: 280px;
	height:47px;
	padding:0 auto;
	padding-top:3px;
	padding-bottom:3px;
	margin-top:12px;
	border: none;
	text-align:center;
	border-radius:5px;
	place-items:center;
}

button:hover{
	background-color: hsl(158, 36%, 20%);
	filter:brightness(80%);
	width: 280px;
	height:47px;
	padding:0 auto;
	padding-top:3px;
	padding-bottom:3px;
	margin-top:12px;
	border: none;
	text-align:center;
	border-radius:5px;
	place-items:center;
	cursor: pointer;
}

img#cart{
	border-radius:0px;
	height:17px;
	width:17px;
	margin-top:5px;
	margin-left:78px;
}

.button-text{
	font-family:montserrat;
	font-size:15px;
	margin-top:5px;
	margin-right:65px;
	color: hsl(0, 0%, 100%);


}



.attribution{
	font-size: 10px;
	text-align:left;
	padding-top: 30px;
	clear: left;
}


	

